<div class="ui cards show-on-wizard" style="">
  <div class="card">
    <div class="content">
      <div class="header">Add Wizard</div>
      <div class="meta">Fill in.</div>
      <div class="description">
        <div class="ui form">
          <div class="fields">
            <div class="field">
              <label>State</label>
              <select name="" id="">
                <option value="">Happy</i></option>
                <option value="">Anger</i></option>
                <option value="">Danger</option>
              </select>
            </div>
            <div class="field">
              <label>Email</label>
              <input type="text" placeholder="Email">
            </div>
          </div>
          <div class="ui buttons">
            <button class="ui button">Cancel</button>
            <div class="or"></div>
            <button class="ui positive button">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>