<div class="ui cards show-on-wizard" style="display: none">
  <div class="card" style="width: 600px;">
    <div class="content">
      <div class="header">Add Wizard</div>
      <div class="meta">Fill in.</div>
      <div class="description">
        <div class="ui form">
          <div class="fields">
            <div class="field">
              <label>State</label>
              <select name="" id="wizard_state">
                <option value="Happiness">Happy</i></option>
                <option value="Anger">Anger</i></option>
                <option value="Sadness">Sad</option>
                <option value="Disgust">Disgust</option>
                <option value="Fear">Fear</option>
                <option value="Surprise">Surprise</option>
                <option value="MotionDetected">MotionDetected</option>
                <option value="LargeFaceDetected">Large Face</option>
              </select>
            </div>
            <div class="field">
              <label>Device</label>
              <select name="" id="deviceWizard">
              </select>
            </div>
            <div class="field">
              <label>Email</label>
              <input type="text" placeholder="Email" id="wizard_email">
            </div>
          </div>
          <div class="ui buttons">
            <button class="ui button can-wizard">Cancel</button>
            <div class="or"></div>
            <button class="ui positive button wizard_save">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>