<div id="my-popup" class="mfp-hide white-popup">
  Evercam Integration
  <table>
    <tbody>
      <tr>
        <th>Api Key</th>
        <td><input type="text" name="" class="api_key"></td>
      </tr>
      <tr>
        <th>Api Id</th>
        <td><input type="text" name="" class="api_id"></td>
      </tr>
      <tr>
        <td><button class="save-values">Save</button></td>
      </tr>
    </tbody>
  </table>
</div>