<div class="ui small modal revokedb">
  <div class="header">DropBox</div>
  <div class="content">
    <p>Are you sure?</p>
  </div>
  <div class="actions">
    <div class="ui approve button yesrevokedb">Yes</div>
    <div class="ui cancel button">No</div>
  </div>
</div>