<div class="ui small modal revoke">
  <div class="header">Evercam</div>
  <div class="content">
    <p>Are you sure?</p>
  </div>
  <div class="actions">
    <div class="ui approve button yesrevoke">Yes</div>
    <div class="ui cancel button">No</div>
  </div>
</div>