<div class="ui small modal revoke">
  <div class="header">Evercam</div>
  <div class="content">
    <p>We are sorry to say you good bye! But are you sure?</p>
  </div>
  <div class="actions">
    <div class="ui approve button yesrevoke">Approve</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>