<div id="image_processing">
  <img class="loading-one" src="/assets/loading.gif"/>
</div>
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<div id="page-splash">
  <h3 class="fp-logo">
    <i class="fa fa-picture-o"></i>
      Eyes of Things
  </h3>
  <div class="auth-provider">
    <button class="auth-with-google"></button>
  </div>
</div>
<%= render :partial => 'shared/integrate' %>
<!-- <i class="em em-angry"></i> -->
<div class="after-auth hide">
        <div class="top-header">
          <div class="ui top attached menu">
            <div class="ui dropdown icon item">
              <i class="wrench icon"></i>
              <div class="menu">
                <div class="item">
                  <i class="dropdown icon"></i>
                  <span class="text">Filters</span>
                  <div class="menu">
                    <div class="item">Document</div>
                    <div class="item">Image</div>
                  </div>
                </div>
                <div class="item">
                  Open...
                </div>
                <div class="item">
                  Save...
                </div>
                <div class="item">Edit Permissions</div>
                <div class="divider"></div>
                <div class="header">
                  Info
                </div>
                <div class="item">
                  <font class="signout">
                      <img class="circular--square" src="" alt="">
                      <a class="">
                        <span class="profile-name"></span><i class="fa fa-sign-out" aria-hidden="true"></i>
                      </a>
                    </font>
                </div>
              </div>
            </div>
            <div class="right menu">
              <div class="ui right aligned category search item">
                <div class="ui transparent icon input">
                  <input class="prompt" type="text" placeholder="Search animals...">
                  <i class="search link icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
          </div>
          <div class="ui bottom attached segment do-min">
            <div id="album" style="display: none;">
                <div class="ui piled compact segment">
                  <!-- <div class="floating ui red label image_total">9</div> -->
                  <div class="ui card">
                    <div class="blurring dimmable image">
                      <div class="ui inverted dimmer">
                       <div class="content">
                         <div class="center">
                           <div class="ui red button view">VIEW</div>
                         </div>
                       </div>
                       </div>
                      <img src="http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder.png">
                    </div>
                      <div class="content">
                        <div id="rate" class="ui star rating right floated" data-rating="3"></div>
                        <div class="header device_id">Animals</div>
                        <div class="meta">
                          <!-- <span class="date"><i class="calendar icon"></i>Created 7/27/2014</span> -->
                          <span class="right floated date"><i class="history icon"></i><font class="lastSync"></font></span>
                        </div>
                        <div class="description">
                        EoT Device Images
                        </div>
                      </div>
                    <div  class="extra content" >
                      <div class="ui right labeled button" data-content="Like it!" data-variation="tiny" tabindex="0">
                        <div class="ui red icon tiny button">
                          <i class="thumbs outline up large icon"></i>
                        </div>
                        <a class="ui basic red left pointing label">
                          365
                        </a>
                      </div>
                      <div class="ui left labeled right floated button" data-content="Share it!" data-variation="tiny" tabindex="0">
                        <a class="ui basic red right pointing label">
                          183
                        </a>
                        <div class="ui red icon tiny button">
                          <i class="external share large icon"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- ALBUM ITEMS -->

              <div id="album_items">
                <button class="ui labeled icon button back">
                 <i class="arrow lircle left icon"></i>
                 Back
                </button>
                <div class="ui cards my-gallery">

                </div>
              </div>
<!--             <div class="no-image" style="display:none;">
              <div class="warning-msg">
                <i class="fa fa-warning"></i>
                No images found.
              </div>
            </div> -->
          </div>
  <!--         <nav class="nav">
          <div class="menu-ac"><i class="fa fa-bars fa-lg"></i></div>
          <div class="ac">
            <ul class="sol-menu">
              <li>
                <a href="#">
                  <label class="with-master whole-one">
                    <input id="c_b" type="checkbox" name="r1" value="all" class="default-is">All
                  </label>
                </a>
              </li>
              <li>
                <a href="#">
                  <label class="with-label">
                    <input id="c_b" type="checkbox" name="r1" value="normal">Normal Mode
                  </label>
                </a>
              </li>
              <li>
                <a href="#">
                  <label class="with-label">
                    <input id="c_b" type="checkbox" name="r1" value="LargeFaceDetected">Large Face
                  </label>
                </a>
              </li>
              <li>
                <a href="#">
                  <label class="with-label">
                    <input id="c_b" type="checkbox" name="r1" value="Neutral" />Neutral
                  </label>
                </a>
              </li>
              <li>
                <a href="#">
                  <label class="with-label">
                    <input id="c_b" type="checkbox" name="r1" value="Sadness" />Sadness
                  </label>
                </a>
              </li>
              <li>
                <a href="#">
                  <label class="with-label">
                    <input id="c_b" type="checkbox" name="r1" value="Surprise" />Surprise
                  </label>
                </a>
              </li>
              <li>
                <a href="#">
                  <label class="with-label">
                    <input id="c_b" type="checkbox" name="r1" value="Happiness" />Happiness
                  </label>
                </a>
              </li>
              <li>
                <a href="#">
                  <label class="with-label">
                    <input id="c_b" type="checkbox" name="r1" value="Angry" />Anger
                  </label>
                </a>
              </li>
              <li>
                <a href="#">
                  <label class="with-label">
                    <input id="c_b" type="checkbox" name="r1" value="Fear" />Fear
                  </label>      
                </a>
              </li>
              <li>
                <a href="#">
                  <label class="with-label">
                    <input id="c_b" type="checkbox" name="r1" value="Disgust" />Disgust
                  </label>
                </a>
              </li>
            </ul>
            <ul class="sag-menu">
              <div class="ui selection dropdown">
                <input type="hidden" name="gender">
                <i class="dropdown icon"></i>
                <div class="default text">Gender</div>
                <div class="menu">
                  <div class="item" data-value="1">Male</div>
                  <div class="item" data-value="0">Female</div>
                </div>
              </div>
            </ul>
            </div>
          </nav> -->
        </div>
<!--   <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  </div> -->


</div>
<script>
  window.CurrentUser = <%= @current_user.to_json.html_safe %>;
  window.AuthData = <%= @auth_data.to_json.html_safe %>;

  $(window).load(function() {
    console.log(getParameterByName("email"));
    if (getParameterByName("email")) {
      console.log("Auth started:");
      $("#page-splash").css('display', 'none');
      $(".signout").css('display', 'none');
      getAuthWithFirebase(firebase, getParameterByName("email"));
      console.log("showing images for email.");
    }
  });

  $(document).ready(function () {
    $('.ui.dropdown').dropdown();
   $('.ui.card .image').dimmer({on: 'hover'});
    $('.ui.rating').rating({maxRating: 5});
    $('.ui.button').popup();



    $('.button.view').on('click', (function() {
      $('#album').fadeOut("slow", function () {
        $('#album_items').fadeIn("slow");
      });
    }));

    $('.button.back').on('click', (function() {
      $('#album_items').fadeOut("slow", function () {
        $('#album').fadeIn("slow");
      });
    }));
    window.initializeHome();
  });
</script>
