<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>
<img height="125" width="125"/>

<script>
  window.CurrentUser = <%= @current_user.to_json.html_safe %>;
  console.log(CurrentUser);
  $(document).ready(function () {
    window.initializeHome();
  });
</script>