<div id="image_processing">
  <img class="loading-one" src="/assets/loading.gif"/>
</div>
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<div id="page-splash">
  <h3 class="fp-logo">
    <i class="fa fa-picture-o"></i>
      Eyes of Things <p></p> (visilabeot)
  </h3>
  <div class="auth-provider">
    <button class="auth-with-google"></button>
  </div>
</div>
<div class="after-auth hide">
  <div class="top-header">
    <%= render 'shared/menu' %>
    <div class="ui bottom attached segment do-min">
      <div class="ui message transition heyyou" style="display: none;">
        <i class="close icon"></i>
        <p><i class="frown icon"></i> You have no images!</p>
      </div>
      <div class="ui message transition no-images-select" style="display: none;">
        <i class="close icon"></i>
        <p><i class="frown icon"></i> Please select few images first.</p>
      </div>
      <div class="ui message transition please-see-animate" style="display: none;">
        <i class="close icon"></i>
        <p><i class="play icon"></i> Your animation will be available shortly on <a href="/animations">Animations</a>.</p>
      </div>

        <!-- ALBUM ITEMS -->

        <div id="album_items">
          <div class="content">
            <div class="ui labeled icon button left floated dropdown">
              <i class="dropdown lircle left icon"></i>
               Devices
              <div class="menu ui transition hidden pushMacs">
                <div class="ui radio checkbox item deviceArea">
                  <input type="radio" name="radio" checked="checked">
                  <label for="macValue">All</label>
                </div>
              </div>
            </div>
            <button class="ui labeled icon button left floated show-me-filter">
              <i class="filter lircle left icon"></i>
               Filters
            </button>
            <div class="ui labeled icon button left floated dropdown">
              <i class="dropdown lircle left icon"></i>
               Action
              <div class="menu ui transition hidden">
                <div class="item select-all-images">
                  Select All Images
                </div>
                <div class="item deselect-all-images" style="display: none;">
                  Deselect All Images
                </div>
                <div class="item createAnimation">Create Animation</div>
                <div class="item goesToPublicFeed">Share to Public Feed</div>
              </div>
            </div>

            <div class="ui calendar left floated" id="date-filter-for">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text">
                <div class="ui right icon clean-show-all">
                  <i class="remove icon" style="font-size: 24px;margin-top: 8px;"></i>
                </div>
              </div>
            </div>

          </div>
          <div class="ui cards my-gallery">

          </div>
          <!-- Left menu -->
          <div class="ui left demo vertical inverted sidebar labeled icon menu">
            <a class="item" id="all">
              <i class="block layout icon"></i>
              All
            </a>
            <a class="item" id="normal">
              <i class="em em-face_with_cowboy_hat layout icon"></i>
              Normal
            </a>
            <a class="item" id="Anger">
              <i class="em em-angry layout icon"></i>
              Anger
            </a>
            <a class="item" id="Disgust">
              <i class="em em-persevere layout icon"></i>
              Disgust
            </a>
            <a class="item" id="Fear">
              <i class="em em-worried layout icon"></i>
              Fear
            </a>
            <a class="item" id="Happiness">
              <i class="em em-smile layout icon"></i>
              Happiness
            </a>
            <a class="item" id="LargeFaceDetected">
              <i class="em em-zombie layout icon"></i>
              Large Face
            </a>
            <a class="item" id="Neutral">
              <i class="em em-neutral_face layout icon"></i>
              Neutral
            </a>
            <a class="item" id="MotionDetected">
              <i class="em em em-juggling layout icon"></i>
              MotionDetected
            </a>
            <a class="item" id="Sadness">
              <i class="em em-pensive layout icon"></i>
              Sadness
            </a>
            <a class="item" id="Surprise">
              <i class="em em-open_mouth layout icon"></i>
              Surprise
            </a>
          </div>
          <!-- menu end -->
          <div class="ui small modal imagepage" style="">
            <div class="header to-time"></div>
            <div class="content">
              <img src="" alt="" class="ui image fluid" />
            </div>
            <div class="actions">
              <div class="ui positive right labeled icon button">
                Close
                <i class="checkmark icon"></i>
              </div>
            </div>
          </div>
          <div class="ui small modal animation-name" style="">
            <div class="header">Please enter animation name.</div>
            <div class="content">
              <div class="ui form">
                <div class="field">
                  <label>Animation Name</label>
                  <input type="text" id="animation-name" name="animation-name" placeholder="Animation Name">
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="ui approve button right save-animate-name">Save</div>
              <div class="ui cancel button right">
                Cancel
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script>
  window.CurrentUser = <%= @current_user.to_json.html_safe %>;
  window.AuthData = <%= @auth_data.to_json.html_safe %>;

  $(window).load(function() {
    // console.log(getParameterByName("email"));
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        console.log(user);
        window.user_email = user.email
        $("#page-splash").css('display', 'none');
        // $(".profile-image").attr("src", "http://eot.evercam.io/eot.jpg");
        $(".profile-name").text(user.displayName);
        $("#feed_of_user").attr("href", "/feed?email=" + user.email + "");
        getAuthWithFirebase(firebase, user.email);
      }else{
        $("#page-splash").css('display', 'flex');
      }
    });
    // if (getParameterByName("email")) {
    //   console.log("Auth started:");
    //   $("#page-splash").css('display', 'none');
    //   $(".signout").css('display', 'none');
    //   getAuthWithFirebase(firebase, getParameterByName("email"));
    //   console.log("showing images for email.");
    // }
  });

  $(document).ready(function () {
      $('.ui.checkbox')
        .checkbox()
      ;
      $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;
    $('.ui.dropdown').dropdown();
    $('.ui.card .image').dimmer({on: 'hover'});
    $('.ui.rating').rating({maxRating: 5});
    $('.ui.button').popup();

    $('.button.view').on('click', (function() {
      $('#album').fadeOut("slow", function () {
        $('#album_items').fadeIn("slow");
      });
    }));

    $('.button.back').on('click', (function() {
      $('#album_items').fadeOut("slow", function () {
        $('#album').fadeIn("slow");
      });
    }));
    window.initializeHome();
  });
</script>
