<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<%= render 'shared/menu' %>

<div class="container my-top-margin">
  <button class="ui labeled icon button wizards-do">
    <i class="rocket icon"></i>
    Add Wizard
  </button>
</div>
<%= render 'shared/add_wizard' %>
<div class="make-it-thin">
  <div class="ui stacked segments" id="wizard_attachment" style="display: none;">
  </div>
</div>

<script>
  window.CurrentUser = <%= @current_user.to_json.html_safe %>;
  window.AuthData = <%= @auth_data.to_json.html_safe %>;
  $(document).ready(function () {
      $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;
      $('.ui.checkbox')
        .checkbox()
      ;
  $('.ui.button.toggle').state();
    $('.ui.dropdown').dropdown();
    $('.ui.radio.checkbox')
      .checkbox()
    ;
    window.initializeWizards();
  });
</script