/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require photoswipe
 *= require font-awesome
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.image-section {
  display: flex;
  flex-wrap: wrap;
}

.image-section::after {
  content: '';
  flex-grow: 1e4;
  min-width: 20%;
}

.image-parent {
  margin: 2px;
/*  background-color: violet;*/
  position: relative;
}

i {
  display: block;
}

.image-itself {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}

#parent-section {
  width: 100%;
  margin: 0 auto;
  float: none;
  overflow: hidden;
  margin: 12px 0;
}

#image_processing{
  bottom: 0;
  color: #3d3d3d;
  font-size: 16px;
  height: 15px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100px;
  display: none;
}

.loading-one {
  border: 0px solid #ebebeb;
  box-shadow: 0 0 0px #ebebeb; 
}

#show-hide {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.checkboxes label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}

.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

#filters-of {
  width: 70%;
  float: left;
  padding: 10px;
}

#filter-heading {
  float: left;
  width: 3%;
  margin-right: 10px;
  padding: 10px;
  font-weight: bold;
}

.my-gallery {
  width: 100%;
  float: none;
  margin: 0 auto;
  padding: 0 10px;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}

.top-header {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.logout {
  width: 5%;
  float: right;
  height: auto;
  overflow: hidden;
}

.filters-left {
  float: left;
  overflow: hidden;
  width: 80%;
}

.fa-sign-out {
  font-size: 15px;
  color: #2F2F2F;
}

.radio-btn {
  float: left;
}

/*body{color:#444;font:100%/1.4 sans-serif;}*/


/* CUSTOM RADIO & CHECKBOXES
   http://stackoverflow.com/a/17541916/383904 */
.rad,
.ckb{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  font-size: 13px;
}
.rad > input,
.ckb > input{ /* HIDE ORG RADIO & CHECKBOX */
  visibility: hidden;
  position: absolute;
}
/* RADIO & CHECKBOX STYLES */
.rad > i,
.ckb > i{     /* DEFAULT <i> STYLE */
  display: inline-block;
  vertical-align: middle;
  width:  13px;
  height: 13px;
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: inset 0 0 0 8px #fff;
  border: 1px solid gray;
  background: gray;
  margin-bottom: 4px;
}
/* CHECKBOX OVERWRITE STYLES */
.ckb > i {
  width: 25px;
  border-radius: 3px;
}
.rad:hover > i{ /* HOVER <i> STYLE */
  box-shadow: inset 0 0 0 3px #fff;
  background: gray;
}
.rad > input:checked + i{ /* (RADIO CHECKED) <i> STYLE */
  box-shadow: inset 0 0 0 3px #fff;
  background: #2F2F2F;
}
/* CHECKBOX */
.ckb > input + i:after{
  content: "";
  display: block;
  height: 12px;
  width:  12px;
  margin: 2px;
  border-radius: inherit;
  transition: inherit;
  background: gray;
}
.ckb > input:checked + i:after{ /* (RADIO CHECKED) <i> STYLE */
  margin-left: 11px;
  background:  #2F2F2F;
}

.sag-menu > a {
  text-decoration: none;
  color: #2F2F2F;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.margin-right {
  margin-right: 5px;
}
.nav {
  overflow: hidden;
  z-index: 50;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.sol-menu li {
  float: left;
  display: block;
  list-style: none;
}
.sol-menu li a {
  display: block;
  text-decoration: none;
  padding: 12px 12px;
  color: #2F2F2F;
  font-family: 'Open Sans', sans-serif;
}
/*.sol-menu li a:hover {
  color: #4c6881;
    padding: 15px 40px;
    background-color: #FFFFFF;
}*/
ul.sag-menu {
  float: right;
  padding: 8px 10px;
  overflow: hidden;
}
.sag-menu i {
  margin: 8px;
  cursor: pointer;
}
input.search {
  display: none;
  padding: 5px;
  max-width: 100%;
}
.altmenu-ac {
  display: none;
}
.menu-ac {
  display: none;
  padding: 10px;
  cursor: pointer;
}

.circular--square {
  border-radius: 50%;
  height: 34px;
  /* margin-top: -34px; */
  margin-bottom: -14px;
  margin-right: 4px;
}

.auth-with-google {
    border: 0;
    width: 191px;
    height: 46px;
    text-indent: -1000px;
    background-size: cover;
    background-image: url('https://cantina-pm-dashboard-skills.herokuapp.com/images/vendor/google/btn_google_signin_light_normal_web@2x.png');
    background-color: transparent;
    cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.signout {
  cursor: pointer;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}

@media (max-width: 700px ){
  .ac  {
    display: none;
  }
  .nav ul li {
    float: none;
  }
  .menu-ac {
    display: block;
  }
}
@media (min-width: 700px ){
  .ac {
    display: block!important;
  }
}

