<!DOCTYPE html>
<html>
  <head>
    <title>EotProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
        <%= yield %>
  </body>
<script>
$(document).ready(function () {
  $(".default-is").prop("checked", true)
  $('.menu-ac').click(function(){
    $(this).next('.ac').slideToggle(500);
  });
  $('.fa-search').click(function(){
           $(".search").animate({
                width: "toggle"
            });
  });
});
</script>
</html>
